/* Style Introduction */
.profilePicture {
    width: 10%;
    margin: auto;
    border-radius: 40px;
    border: solid 2px white;
    box-shadow: 1px 1px 38px rgba(66, 188, 187, 0.89);

}

.formations {
    opacity: 0.8;
    font-size: 1.3em;
    color: white;
    background-attachment: fixed;
    padding-top: 10%
}

.expériences {
    opacity: 0.8;
    font-size: 1.3em;
    color: white;
    padding-top: 10%
}

.compétences {
    opacity: 0.8;
    background-image: url;
    background-size: cover;
    font-size: 1.3em;
    padding-top: 10%
}

.title {
    font-size: 2em;
    
}

#surMoi {
    margin-top: 10%;
}

.main {

}

.intro {    
    background-size: 100%;
    background-image: url("../images/V68AOch.jpg");
    font-size: 1.3em;
    color: white;
    background-attachment: fixed;

}

#blocdark {
    border-radius: 5px;
    border: solid 2px white;
    box-shadow: 1px 1px 38px rgba(66, 188, 187, 0.89);
}

#marginTitle {
    padding-left: 10%;
}

#margTitle {
    padding-left: 4%;
}

.button {
    margin-bottom: 20px;
}

#carouselExampleIndicators {
    border: solid 30px grey;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    box-shadow: 1px 1px 38px rgba(66, 188, 187, 0.89);

}

body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

























